<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Recipe</title>
    <link rel="stylesheet" href="/css/edit.css">
  </head>
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/recipes/<%= recipe._id %>?_method=PUT">
      <input name="listing[title]" value="<%= recipe.title %>" type="text" />
      <br /><br />
      <textarea name="listing[description]">
        <%= recipe.description %></textarea>
      <br /><br />
      <input name="listing[image]" value="<%= recipe.image %>" type="text" />
      <br /><br />
      <textarea rows="8" cols="25" name="listing[ingredients]">
        <%= recipe.ingredients %></textarea>
      <br /><br />
      <textarea rows="8" cols="25" name="listing[recipe]">
        <%= recipe.recipe %></textarea>
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>