<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Blog</title>
    <link rel="stylesheet" href="/css/show.css">

</head>
<body>
    <h3>Recipe Details :</h3>
    <ul>
    <img src="<%= recipes.image %>" alt="an image">
      <li><b>Title</b> <%= recipes.title %></li>
      <li><b>Description</b> <%= recipes.description %></li>
      <li><b>Ingredients</b> <%= recipes.ingredients %></li>
      <li><b>Recipe</b> <%= recipes.recipe %></li>
    </ul>
    <br />
    <a href="/recipes/<%= recipes._id %>/edit">Edit this recipe</a>
    <br /><br />
    <form method="POST" action="/recipes/<%=recipes._id%>?_method=DELETE">
      <button>Delete this recipe</button>
    </form>
</body>
</html>